doctype
html
    head
        title Jobeek
        link(rel="stylesheet", href='css/main.css')

    body

        // HEADER
        header.header
            .header__top
                .container
                    .logo
                        a(href="/")
                            img(src="/img/jobeek.svg")
                    .city
                        a(href="/") Новороссийск


            .header__hero
                .container
                    .title
                        h1.title--first Самые лучшие предложения высокооплачиваемой работы
                        h3.title--second от всех известных российских и многих зарубежных компаний.


            .header__statistic
                .container
                    .statistic
                        .statisctic__vacancy
                            span Вакансии
                            span 1550
                        .statisctic__company
                            span Компаний
                            span 450
                        .statisctic__resume
                            span Резюме
                            span 16650
                            
        // END HEADER


