//@import "../../node_modules/mmenu-light/src/mmenu-light.scss";

@import "reset";
@import "vars";
@import "mixins";


body {
	font-family: sans-serif;
}

.container {
	width: 90%;
	max-width: 1180px;
	margin: 0 auto;
}

.header {
	padding: 1em 0;
	background-color: $accent;
	color: white;
}

.header {
	&__top {
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.city{
				a{
					color: white;
				}
			}
		}
	}

	&__hero {
		padding: 10em 0;
		.title {
			width: 70%;
			margin: 0 auto;

			&--first {
				text-align: center;
				font-size: 3em;
			}

			&--second {
				text-align: center;
				font-weight: lighter;
			}
		}
	}

	&__statistic {
		.statistic{
			width: 70%;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 5em;

			div{
				display: flex;
				flex-direction: column;
				align-items: center;
				span:first-child{
					font-weight: lighter;
					font-size: 1em;
				}
				span:last-child{
					font-weight: bolder;
					font-size: 2em;
				}
			}

			// &__vacancy{}
			// &__company{}
			// &__resume{}
		}
	}
}


@import "media";
